{% extends '::base.html.twig' %}

{% block body %}
    <header>
        <h1>Guest Book</h1>
    </header>

{% for guestBook in guestbooks %}
    <div>
        {% if guestBook.userName is not empty %}<p>User name: {{ guestBook.userName }}</p>{% endif %}
        {% if guestBook.userEmail is not empty %}<p>User email: {{ guestBook.userEmail }}</p>{% endif %}
        <p>Message: {{ guestBook.message }}</p>
        <p>Created: {{ guestBook.createdAt|date("m.d.Y") }}</p>
    </div>
{% endfor %}

{{ form_start(form, { 'action': path('guestbook'), 'method': 'POST' }) }}
{{ form_errors(form) }}

{{ form_row(form.user_name) }}
{{ form_row(form.user_email) }}
{{ form_row(form.message) }}

{{ form_rest(form) }}

<input type="submit" value="Submit" />

{% endblock %}
